* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  user-select: none;
}

body {
  background-image: linear-gradient(#12100e, #2b4162);
  min-height: 100vh;
}

.container {
  overflow: hidden;
  width: 98%;
  min-width: 350px;
  margin: 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 4px solid;
  border-image: linear-gradient(45deg, #5468ff, #5adaff) 1;
  border-bottom: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.15);
}

.player,
.computer {
  height: 90px;
  width: 120px;
  display: flex;
  align-items: center;
}

.computer-points {
  order: -1;
}

.player-points,
.computer-points {
  font-size: 3rem;
}

.players-choices {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
}

.players-choices-text {
  margin: 0 0.2rem;
  font-weight: 900;
  text-shadow: 0 2px 1px rgba(24, 5, 55, 0.4), -1px 3px 1px rgba(14, 5, 30, 0.4), -2px 5px 1px rgba(156, 125, 208, 0.4);
}

.player-choice,
.computer-choice {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 16px;
  width: 140px;
  height: 120px;
  box-shadow: rgba(0, 0, 23, 0.4) 0px 10px 20px, rgba(0, 1, 68, 0.4) 0px 6px 6px;
}

.buttons {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
}

.btn {
  padding: 1rem;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 105px;
  height: 100px;
  box-shadow: rgba(0, 0, 23, 0.4) 0px 10px 20px, rgba(0, 1, 68, 0.4) 0px 6px 6px;
  margin: 0.1rem;
}
.btn:active {
  transform: translateY(2px);
}

.result {
  overflow: hidden;
  width: 98%;
  min-width: 350px;
  margin: 0.5rem auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 2rem;
  text-align: center;
}

.border-helper {
  padding: 1rem;
  border: 5px solid;
  border-top: none;
  border-image: linear-gradient(45deg, #5adaff, #5468ff) 1;
}

.result-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-primary {
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  width: 50%;
  height: 70px;
  padding: 0 1rem;
  position: relative;
  transition: all 1s;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  text-align: center;
  font-size: 1.2rem;
}
.button-primary:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.button-primary:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button-primary:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.button-primary:disabled {
  background-image: none;
  background-color: #9c9fb8;
  color: rgb(230, 230, 230);
  cursor: not-allowed;
}

.result-btn {
  margin-top: 0.5rem;
  width: 100%;
}

.text-result {
  margin-bottom: 0.8rem;
  font-size: 2.5rem;
}/*# sourceMappingURL=style.css.map */